<!DOCTYPE html>
<!--
    2 Whites And A Gray: Gitae Park (PM), Brianna Tieu, Nada Hameed
    SOFTDEV
    P00
-->


<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styleedit.css">
  </head>

  <body>

    <form action="/edit", method="POST">
        {{status}}

        <ul>
          <li><a href="/?">Home Page</a></li>
        </ul>

        <h1>
            YOUR BLOGS!
        </h1>

        <h3>
            {% for blog in blogList %}
                <li><a href={{ url_for('editBlog', blog=blog[0]) }}>{{blog[0]}}</a></li>
                <br>
            {% endfor %}
        </h3>

    </form>


  </body>

</html>
