<!DOCTYPE html>
<!--
    2 Whites And A Gray: Gitae Park (PM), Brianna Tieu, Nada Hameed
    SOFTDEV
    P00
-->


<html>

  <head>
    <title> HOME PAGE </title>
  </head>

  <body>
    <h1>
      Welcome to the Blog by 2 Whites And A Gray!
      <br>
      Roster: Brianna Tieu, Nada Hameed, Gitae Park
    </h1>

    {{status}}

    <form action="/logout">
      <button>Log Out</button>
    </form>

    <h2>==================================</h2>

    <h3>
      Your Blogs:
    </h3>

    {{blogs}}
    <br><br><br>

    <form action="/newblog">
      <button>Create New Blog</button>
    </form>

    <br>

    <form action="/newpost">
      <button>New Post</button>
    </form>


    <h2>==================================</h2>


    <form action="/view">
      <button>View All Existing Blogs</button>
    </form>

    <form action="/edit">
      <br>
      <button>Edit Your Blogs!</button>
    </form>

  </body>

</html>