<!DOCTYPE html>
<!--
    2 Whites And A Gray: Gitae Park (PM), Brianna Tieu, Nada Hameed
    SOFTDEV
    P00
-->


<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylehome.css">
  </head>

  <body>
    <ul>
      <li><a href="/?">Home Page</a></li>
      <li><a href="/view">View All Existing Blogs</a></li>
      <li><a href="/newblog">Create New Blog</a></li>
      <li><a href="/edit">Edit Your blogs</a></li>
      <li><a href="/newpost">Create New Post</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    <h1>
      Welcome to the Blog by 2 Whites And A Gray!
    </h1>

    <h5>
      Roster: Brianna Tieu, Nada Hameed, Gitae Park
    </h5>

    {{status}}


    <h2>----------------------------------------------------</h2>

    <h3>
      Your Blogs:
    </h3>

    <h4>
      {{blogs}}
    </h4>


    <br>



    <h2>----------------------------------------------------</h2>



  </body>

</html>
