<!DOCTYPE html>
<!--
    2 Whites And A Gray: Gitae Park (PM), Brianna Tieu, Nada Hameed
    SOFTDEV
    P00
-->


<html>

  <head>
    <title> POST CREATION PAGE </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styleview.css">
  </head>

  <ul>
    <li><a href="/?">Home Page</a></li>
  </ul>
  <body>
    <h1>
      Create a post!
    </h1>

    <br>
    <form action="/createpost", method="POST">
        <h3>
            Name of the Blog you are posting to (you must own this blog):
            <input type="text" name="blog_name">

            <br><br>

            Entry Title:
            <input type="text" name="entry_title">

            <br><br>

            Entry Content:
            <br>
            <textarea rows="10" name="postContent"></textarea>

            <br><br>
        </h3>

        <button>Create Post</button>
    </form>


  </body>

</html>
