<!DOCTYPE html>
<!--
    2 Whites And A Gray: Gitae Park (PM), Brianna Tieu, Nada Hameed
    SOFTDEV
    P00
-->


<html>

  <head>
    <title> BLOG CREATION PAGE </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styleview.css">
  </head>

  <ul>
    <li><a href="/?">Home Page</a></li>
  </ul>
  <body>
    <h1>
      Create a new blog!
    </h1>

    <br>
    <form action="/blog", method="POST">
        {{status}}
        <h3>
            Blog Name:
            <input type="text" name="blogName">
        </h3>

        <button>Create Blog</button>
    </form>

    <br>

  </body>

</html>
