<!DOCTYPE html>
<!--
    2 Whites And A Gray: Gitae Park (PM), Brianna Tieu, Nada Hameed
    SOFTDEV
    P00
-->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
        Welcome to the registration page!
    </h1>

    <form action="/register">
      <h3>
        Username:
          <input type="user" name="username">
      </h3>
  
      <h3>
        Password:
          <input type="pass" name="password">
      </h3>

      <h5>
          <input type="submit" name="sub1">
      </h5>

      {{status}}
    </form>

    <form action="/">
        <button>Home</button>
    </form>

    <br>
  </body>

</html>